<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Story Books Login</title>
    <script src="https://kit.fontawesome.com/845b7f6704.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="style.css">
</head>
<body>
   <div class="container">
       <div class="login">
           <div class="card">
               <div class="firstdiv">
                   <h1><i style="font-size: 60px;" class="fas fa-book-reader"></i> StoryBooks</h1>
               </div>
                   <div class="seconddiv">
                       <p>Create public and private stories from your life</p>
                   </div> 
                  
                   <div class="thirddiv">
                     
                   
                       <a href="/auth/google" class="button"><i style="font-size: 15px; margin-right: 10px;" class="fab fa-google"></i>LOGIN WITH GOOGLE</a>
                   </div>

               
           </div>
       </div>
   </div>


</body>
</html>